#body{
    background-color:solid ghostwhite;
/*    background-image: url("/assets/bg2.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
}
#hdr{
    height: 800px;
}
#resume{
    height: 800px;
}
#portfolio{
    height: 800px;
}
#about{
     height: 800px;
}
#contactme{
    height: 800px;
}
#btn{
    height: inherit;
    width: auto;
}

#coolbtnp{
    border-width: 10px;    
    border: #3f51b5 solid 5px;
    padding: 5px;    
}
#coolbtnc{
    border-width: 10px;    
    border: #3f51b5 solid 5px;
    padding: 5px 50px 5px;    
}
