#body{
    background-color:solid ghostwhite;
/*    background-image: url("/assets/phone-computer.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
}
@font-face {
    font-family: 'droidsansmono';
    src: url('DroidSansMono-webfont.eot');
    src: url('DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSansMono-webfont.woff') format('woff'),
         url('DroidSansMono-webfont.ttf') format('truetype'),
         url('DroidSansMono-webfont.svg#droid_sans_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
#bghead{
    font-family: droidsansmono;
    background: url("/assets/bgmysite.jpg");
    background-size: cover;
    z-index: 2;
    text-decoration: bold;    
}
#hdr{
    height: 800px;
    z-index: 4;
}
/*
#resumeimg{
    height: 300px;
    background-image: url(/assets/off.jpg);
    background-size: cover;       
}
*/
.fontfor{
    font-family: droidsansmono;
}
#resume{
    height: auto;    
}
#portfolio{
    height: 800px;
}
#about{
    max-height: 100%;
    width: 100%;
}
#contactme{
    height: 800px;
    background-image: url("/assets/header.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
/*    opacity: 0.6;*/
    position: relative;
}
/*
#contactmesection{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}
*/
#btn{
    height: inherit;
    width: auto;
}

#coolbtnp{
    border-width: 10px;    
    border: #3f51b5 solid 5px;
    padding: 5px;    
}
#coolbtnc{
    border-width: 10px;    
    border: #3f51b5 solid 5px;
    padding: 5px 50px 5px;    
}
