#body{
    background-color:solid black;
/*    background-image: url("/assets/bg2.jpg");*/
    background-size: cover;
/*
    opacity: 0.3;
    position: absolute;
    z-index: -4;
*/
}

.name{
    font-family: 'Sacramento', cursive;
    text-align: center;
    text-color: blue;
}
#hdr{
    text-decoration-color: #ffffff;
}
#navheader{
    position: relative;
}
#nav{
    bottom: 0;
}